!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")

    %title Furry Ipsum

    %script(src="https://code.jquery.com/jquery-2.2.3.min.js")
    %script(src="js/index.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")

    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")

  %body
    .container
      :markdown
        # Furry Ipsum

        Have you ever started working on a project and thought:

        - *Wow, I really need some filler text for my layout!*
        - *Gee, where am I going to get some good filler text?*
        - *I've become irredeemable furry trash and nobody loves me.*
        - *\*nuzzles up to you\* give me an arbitrary collection of words murr*

        Well have I got the tool for you!

        ## Here's a sample, generated just for you:

      -# TODO: text-align: justify
      %blockquote#ipsum
        Loading the magic (you have JavaScript enabled, right?)
